* {
  box-sizing: border-box;
}
body,
h1,
h2,
p,
ul,
ol {
  margin: 0;
}

.young-regular {
  font-family: "Young Serif";
  font-style: normal;
  font-weight: 400;
}

.outfit-semibold {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
}

.outfit-regular {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
}

.outfit-bold {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
}

.young-regular_stail_1 {
  font-size: 40px;
  line-height: 100%;
  color: #312e2c;
}

.young-regular_stail_2 {
  font-size: 28px;
  line-height: 100%;
  color: #854632;
}

.young-regular_stail_3 {
  font-size: 16px;
  line-height: 150%;
  color: #854632;
}

.outfit-regular_stail_1 {
  font-size: 16px;
  line-height: 150%;
  color: #5f564d;
}

.outfit-semibold_stail_1 {
  font-size: 20px;
  line-height: 100%;
  color: #7a284e;
}

.marker-rose > li::marker {
  font-weight: 800;
  color: #7a284e;
}

.marker-brown > li::marker {
  font-weight: 800;
  color: #854632;
}

body {
  background-color: #f3e5d7;
}

main {
  max-width: 736px;
  background-color: #fff;
  border-radius: 24px;
  margin: 128px auto;
  padding: 40px;
}
img {
  width: 100%;
  border-radius: 12px;
  border: 1px solid #000000;
}
h1,
h2 {
  margin-bottom: 24px;
}
section:last-child p {
  padding-bottom: 24px;
}
section:not(:last-child) {
  margin-bottom: 32px;
}

.pinc {
  padding: 24px;
  background-color: #fff7fb;
  border-radius: 12px;
}
.pinc h2 {
  margin-bottom: 16px;
}
hr {
  border-color: #e3ddd7;
  margin-bottom: 32px;
}
ol,
ul {
  padding-left: 23px;
}
li {
  padding-left: 17px;
  margin-bottom: 8px;
}

table {
  width: 100%;
}

tr:not(:last-child) td {
  border-bottom: 1px solid #e3ddd7;
  padding-bottom: 12px;
}
th,
td {
  padding-top: 12px;
}
.left-long {
  width: 320px;
  padding-left: 32px;
}
.right-kurz {
  padding-left: 16px;
}
